* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: dotted #333333;
}

img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
}

section {
    margin: 20px;
    border: 1px solid rgb 000;
    padding: 10px;
    background-color: #abe;
    font-size: 1rem;
}

ul {
    margin: 10px 20px 10px 20px;
}

footer {
    background-color: #333333;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: .9rem;
}